<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>哔哩推 | blit.run</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet"
          href="//blog.bootcdn.cn/assets/light-25b5067393925d1f88677d0ec57567eb084e67896b9932dc0418a8d7197ada92.css">
</head>

<body>
<main role="main">
    <div class="grid grid-centered">
        <div class="grid-cell">
            <nav class="header-nav reveal">
                <a href="/" class="header-logo" title="BootCDN 官方博客">哔哩推</a>
                <ul class="header-links">
                    <li>
                        <a href="/" target="_blank" title="BootCDN 首页">
                            <span class="icon icon-ios-home"></span>
                        </a>
                    </li>

                </ul>
            </nav>

            <article class="article reveal">


                <div class="article-content">
                    {{ str2html .data }}
                </div>

            </article>
            <footer class="footer reveal">
                <p>
                    <a href="/" title="BootCDN">blit.run</a> -- 稳定、快速、免费的推送服务。
                </p>
            </footer>

        </div>
    </div>
</main>


<script type="text/javascript"
        src="//blog.bootcdn.cn/assets/vendor-17805518bf7e1987cd1ec9ca044ce0ad26db9010f6fcb9bf4dae464dfff83da9.js"></script>
<script type="text/javascript"
        src="//blog.bootcdn.cn/assets/application-10f42dd8af0a6d49e9e125593df1f6d668d5ea97ae83af95e57c1d39a0a47994.js"></script>

</body>
</html>
